{% extends 'base.html' %}


{% block menu %}
    {{ super() }}
{% endblock %}

{% block content %}
    <form action=" " method="post">
        <p>
        <p>Введите количество строк от 10 до 2000</p>
        <input type="number" name="count_lines" value={{count_lines}} min="10" max="2000">
        <button>Применить</button>
    </form>

    <h3>Message:</h3>
    <h2>{{server_message}}</h2>

        <p></p>
            <a href="http://127.0.0.1:5000/view_table_1?count_lines={{count_lines}}&query_left=True&start_left=
            {{start_left}}&disabled_left={{disabled_left}}"><button {{disabled_left}}>left</button></a>

            <a href="http://127.0.0.1:5000/view_table_1?count_lines={{count_lines}}&query_right=True&start_right=
            {{start_right}}&disabled_right={{disabled_right}}"><button {{disabled_right}}>right</button></a>

    <h1>Results:</h1>
    <h3>
        <table border="1">
            <thead>
                <tr>
                    <th>Место</th>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Time</th>
                </tr>
            </thead>

        {% for i in range(start, end) %}
            <tr>
                <th>{{message[i][0]}}</th>
                <th>{{message[i][1]}}</th>
                <th>{{message[i][2]}}</th>
                <th>{{message[i][3]}}</th>
                {% endfor %}
            </tr>
        </table>
    </h3>

    <hr/>
    <p>перейти на верх страницы: <a href="#Menu">наверх</a></p>

{% endblock %}
